@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/query.scss' as *;
@use '../../scss/typography.mixins.scss' as *;

.game {
  border-radius: 10px;
  background-color: $card-bg;
  margin: 20px 0;
  padding: 20px 10px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 1px rgb(85 102 119 / 40%);

  &:hover {
    box-shadow: 6px 7px 20px #e1e1e3;
  }

  @include respond-above(md) {
    padding: 20px 70px 20px 70px;
  }

  .game__select {
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    @include respond-above(md) {
      justify-content: flex-start;
    }

    label {
      font-size: 1.4em;
      font-weight: bold;
    }

    select {
      font-size: 1.17em;
      font-weight: bold;
      margin-left: 30px;
      width: 50px;
      text-align-last: center;
      cursor: pointer;
    }
  }

  hr {
    margin: 1.2rem 0;
    border-top: 2px solid $primary-btn-color;
    opacity: 0.4;
  }

  .game__form {
    overflow: hidden;

    form {
      background-color: $card-bg;
      transition: all 0.3s ease;

      input {
        text-transform: capitalize;
      }

      .game__form-checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        @include respond-above(md) {
          justify-content: flex-start;
        }

        input {
          margin-left: 38px;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      .game__form-text-color {
        color: $danger-color;
        text-transform: capitalize;
      }

      .game__form-location {
        display: flex;
        align-items: center;
        margin: 2rem 0;

        input {
          margin-left: 30px;
          width: 20px;
          height: 20px;
        }
      }

      button {
        width: 100%;
        border: none;
        border-radius: 6px;
        background-color: $primary-btn-color;
        color: $light-text-color;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 0.9em;

        @include respond-above(md) {
          height: 40px;

          &:hover {
            box-shadow: 0px 7px 15px 0px rgb(32 111 235 / 36%);
          }
        }

        &.loading::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 4px solid transparent;
          border-top-color: #ffffff;
          border-radius: 50%;
          animation: button-loading-spinner 1s ease infinite;
        }
      }
    }
  }
}

.modal-open {
  animation: openModal 0.4s ease-out forwards;
}

.modal-closed {
  animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
