@use '../../scss/query' as *;
@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/typography.mixins' as *;

.profile {
  .profile-header {
    .profile-menu-icon {
      width: 25px;
      height: 25px;
      fill: $secondary-text-color;

      @include respond-above(md) {
        display: none;
      }
    }
  }

  .profile-info {
    margin-bottom: 20px;
    text-align: center;

    .profile-crown-icon {
      width: 50px;
      height: 50px;
      fill: $main-text-color;
    }

    .profile-profile-images-container {
      border: 3px solid $secondary-text-color;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .profile-stats {
      display: flex;
      justify-content: space-around;
      align-items: center;

      // .profile-trophy-icon {
      //   width: 45px;
      //   height: 45px;
      //   fill: $secondary-text-color;
      //   margin-right: 10px;
      // }

      .profile-won {
        display: flex;
        align-items: center;

        .profile-mark-icon {
          width: 12px;
          height: 12px;
          fill: green;
        }

        p {
          color: $secondary-text-color;
        }
      }

      .profile-lost {
        display: flex;
        align-items: center;

        .profile-close-icon {
          width: 12px;
          height: 12px;
          fill: red;
        }

        p {
          color: $secondary-text-color;
        }
      }
    }
  }

  .profile-menu-modal {
    padding: 20px 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    background-color: $secondary-text-color;

    @include respond-above(md) {
      position: relative;
      transform: translateX(0);
      padding: 0;
      background-color: transparent;
    }

    &.toggleIn {
      transform: translateX(0%);
    }

    &.toggleOut {
      transform: translateX(-100%);

      // remove transform on desktop
      @include respond-above(md) {
        transform: translateX(0);
      }
    }

    .profile-menu {
      @include respond-above(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .profile-close {
        display: flex;
        justify-content: flex-end;

        @include respond-above(md) {
          display: none;
        }

        .profile-close-icon {
          width: 25px;
          height: 25px;
          fill: $main-text-color;
        }
      }

      button {
        text-decoration: none;
        border: none;
        background: none;
        color: $main-text-color;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        outline: none;
        display: block;
        margin-bottom: 7px;
        position: relative;

        @include respond-above(md) {
          display: inline;
          font-size: 18px;
          margin-bottom: 0;

          // underline when desktop
          &::before {
            content: "";
            border-bottom: 2px solid black;
            padding: 0 10px; // the trick
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            transition: 0.3s;
          }

          &:hover:before {
            width: 100%;
            padding: 0; // the other part of the trick
          }

          // when clicked
          &:active {
            background: black;
            color: white;
            transition: none;
          }
        }

        &.selected::before {
          content: "";
          border-bottom: 2px solid red;
          padding: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 100%;
        }
      }
    }
  }
}
