@use '../../scss/query' as *;
@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/typography.mixins' as *;

.profile {
  .profile-header {
    .profile-menu-icon {
      width: 25px;
      height: 25px;
      fill: $secondary-text-color;

      @include respond-above(md) {
        display: none;
      }
    }
  }

  .profile-info {
    margin-bottom: 20px;
    text-align: center;

    .profile-crown-icon {
      width: 50px;
      height: 50px;
      fill: $main-text-color;
    }

    .profile-profile-images-container {
      border: 3px solid $secondary-text-color;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .profile-stats {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .profile-won {
        display: flex;
        align-items: center;

        svg {
          width: 35px;
          height: 35px;
          fill: green;
          margin-right: 10px;
        }

        p {
          color: $secondary-text-color;
        }
      }

      .profile-lost {
        display: flex;
        align-items: center;

        svg {
          width: 35px;
          height: 35px;
          fill: red;
          margin-right: 10px;
        }

        p {
          color: $secondary-text-color;
        }
      }
    }
  }

  .profile-menu-modal {
    padding: 20px 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    background-color: red;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    will-change: transform;

    @include respond-above(md) {
      position: relative;
      transform: translateX(0);
      padding: 0;
    }

    &.toggleIn {
      transform: translateX(0%);
    }

    &.toggleOut {
      transform: translateX(-100%);

      // remove transform on desktop
      @include respond-above(md) {
        transform: translateX(0);
      }
    }

    .profile-menu {
      @include respond-above(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .profile-close {
        display: flex;
        justify-content: flex-end;

        @include respond-above(md) {
          display: none;
        }

        .profile-close-icon {
          width: 25px;
          height: 25px;
          fill: $secondary-text-color;
        }
      }
    }
  }
}
