@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/query.scss' as *;
@use '../../scss/typography.mixins.scss' as *;

.dashboard-controls {
  display: flex;
  align-items: center;

  button {
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    color: $light-text-color;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    box-shadow: 2px 3px 20px #e1e1e3, 0px 0px 27px #ffffff;

    @include respond-above(md) {
      height: 40px;
      position: relative;
    }

    &.loading::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }

    svg {
      margin-left: 10px;
      fill: $svg-fill;
    }
  }

  .plus {
    background-color: $primary-btn-color;

    @include respond-above(md) {
      &:hover {
        box-shadow: 0px 7px 15px 0px rgb(32 111 235 / 36%);
      }
    }
  }

  .share {
    background-color: $btn-background-color;
    margin-left: 15px;

    @include respond-above(md) {
      &:hover {
        box-shadow: 0px 7px 15px 0px rgb(0 0 0 / 36%);
      }
    }
  }
}
