@use '../../scss/query' as *;
@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/typography.mixins.scss' as *;

.signup-page {
  display: flex;
  width: 100%;

  svg {
    width: 50px;
    height: 50px;
    fill: $main-text-color;
    margin-bottom: 0.2rem;

    @include respond-above(md) {
      margin-bottom: 1.5rem;
    }
  }

  h1 {
    @include h1-bold-mobile;
    margin-bottom: 25px;
  }

  .signup-page-image-container {
    display: none;

    @include respond-above(md) {
      width: 65%;
      display: block;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
      }
    }
  }

  .signup-page-form-container {
    width: 100%;
    padding: 25px 25px;

    @include respond-above(md) {
      width: 35%;
      margin: auto 0;
      padding: 75px 50px;
    }

    .signup-options {
      display: flex;
      margin-bottom: 15px;

      p {
        @include p-secondary-semi-bold-mobile;
        color: $secondary-text-color;
        margin-right: 10px;
      }

      a {
        @include a-secondary-semi-bold-mobile;
        text-decoration: none;
        color: $main-text-color;

        &:visited {
          color: $main-text-color;
        }
      }
    }

    form {
      .signup-page-form-field {
        width: 100%;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid $border-color;
        margin: 2.2rem auto 1rem;
        transition: 500ms;
      }

      .login-page-form-label {
        color: $border-color;
        font-size: 1rem;
      }

      .signup-page-form-input {
        outline: none;
        border: none;
        overflow: hidden;
        margin: 0;
        width: 100%;
        padding: 0.25rem 0;
        background: none;
        color: $main-text-color;
        font-size: 1.2em;
        font-weight: bold;
        transition: border 500ms;
      }

      /* Border animation */
      .signup-page-form-field::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        width: 100%;
        background: $accent-color;
        transform: scaleX(0);
        transform-origin: 0%;
        opacity: 0;
        transition: all 500ms ease;
        top: 2px;
      }

      .signup-page-form-field:focus-within {
        border-color: transparent;
      }

      .signup-page-form-field:focus-within::after {
        transform: scaleX(1);
        opacity: 1;
      }

      .signup-page-form-label {
        z-index: -1;
        position: absolute;
        transform: translateY(0rem);
        left: 0;
        transform-origin: 0%;
        transition: transform 400ms;
      }

      .signup-page-form-field:focus-within .signup-page-form-label,
      .signup-page-form-input:not(:placeholder-shown)
        + .signup-page-form-label {
        transform: scale(0.8) translateY(-2rem);
        opacity: 1;
      }

      .login-page-error {
        color: $danger-color;
        margin-bottom: 10px;
      }

      .terms {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;

        input {
          width: 14px;
          height: 14px;
          margin: 0 10px 0 0;
          border: 2px solid $border-color;
          transform: scale(1.2);
        }

        label {
          a {
            @include a-secondary-semi-bold-mobile;
            text-decoration: none;
            color: $main-text-color;

            &:visited {
              color: $main-text-color;
            }
          }
        }
      }

      .signup-page-error {
        color: $danger-color;
        margin-bottom: 10px;
      }

      button {
        width: 100%;
        border: none;
        border-radius: 6px;
        background-color: $primary-btn-color;
        color: $light-text-color;
        height: 50px;
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;

        @include respond-above(md) {
          height: 40px;

          &:hover {
            box-shadow: 0px 7px 15px 0px rgb(32 111 235 / 36%);
          }
        }

        &.loading::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 4px solid transparent;
          border-top-color: #ffffff;
          border-radius: 50%;
          animation: button-loading-spinner 1s ease infinite;
        }
      }
    }
  }
}
