@use '../../scss/query' as *;
@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/typography.mixins.scss' as *;

.login-page {
  display: flex;
  width: 100%;

  .login-form-container {
    width: 100%;
    padding: 25px 25px;

    @include respond-above(md) {
      width: 35%;
      margin: auto 0;
      padding: 75px 50px;
    }

    svg {
      width: 50px;
      height: 50px;
      fill: $main-text-color;
      margin-bottom: 1.5rem;
    }

    h1 {
      @include h1-bold-mobile;
      margin-bottom: 25px;
    }

    .login-options {
      display: flex;
      margin-bottom: 15px;

      p {
        @include p-secondary-semi-bold-mobile;
        color: $secondary-text-color;
        margin-right: 10px;
      }

      a {
        @include a-secondary-semi-bold-mobile;
        text-decoration: none;
        color: $main-text-color;

        &:visited {
          color: $main-text-color;
        }
      }
    }

    form {
      .login-page-form-field {
        width: 100%;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid $border-color;
        margin: 3rem auto 1rem;
        transition: 500ms;
      }

      .login-page-form-label {
        color: $border-color;
        font-size: 1rem;
      }

      .login-page-form-input {
        outline: none;
        border: none;
        overflow: hidden;
        margin: 0;
        width: 100%;
        padding: 0.25rem 0;
        background: none;
        color: $main-text-color;
        font-size: 1.2em;
        font-weight: bold;
        transition: border 500ms;
      }

      /* Border animation */
      .login-page-form-field::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        width: 100%;
        background: $accent-color;
        transform: scaleX(0);
        transform-origin: 0%;
        opacity: 0;
        transition: all 500ms ease;
        top: 2px;
      }

      .login-page-form-field:focus-within {
        border-color: transparent;
      }

      .login-page-form-field:focus-within::after {
        transform: scaleX(1);
        opacity: 1;
      }

      .login-page-form-label {
        z-index: -1;
        position: absolute;
        transform: translateY(0rem);
        left: 0;
        transform-origin: 0%;
        transition: transform 400ms;
      }

      .login-page-form-field:focus-within .login-page-form-label,
      .login-page-form-input:not(:placeholder-shown) + .login-page-form-label {
        transform: scale(0.8) translateY(-2rem);
        opacity: 1;
      }

      .login-page-error {
        color: $danger-color;
        margin-bottom: 10px;
      }

      button {
        width: 100%;
        border: none;
        border-radius: 6px;
        background-color: $primary-accent-color;
        color: $light-text-color;
        height: 40px;
        margin-bottom: 15px;
        position: relative;

        &.loading::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 4px solid transparent;
          border-top-color: #ffffff;
          border-radius: 50%;
          animation: button-loading-spinner 1s ease infinite;
        }
      }
    }
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }

  .login-image-container {
    display: none;

    @include respond-above(md) {
      width: 65%;
      display: block;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
      }
    }
  }

  .login-page-error {
    color: $danger-color;
  }
}
