@use '../../scss/query' as *;
@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/typography.mixins.scss' as *;

.login-page {
  display: flex;
  width: 100%;

  .login-form-container {
    width: 100%;
    padding: 75px 50px;
    margin: auto;

    @include respond-above(md) {
      width: 35%;
      margin: auto 0;
      // padding-top: 130px;
    }

    svg {
      width: 50px;
      height: 50px;
      fill: $main-text-color;
      margin-bottom: 1.5rem;
    }

    h1 {
      @include h1-bold-mobile;
      margin-bottom: 25px;
    }

    .login-options {
      display: flex;
      margin-bottom: 15px;

      p {
        @include p-secondary-semi-bold-mobile;
        color: $secondary-text-color;
        margin-right: 10px;
      }

      a {
        @include a-secondary-semi-bold-mobile;
        text-decoration: none;
        color: $main-text-color;

        &:visited {
          color: $main-text-color;
        }
      }
    }

    form {
      input {
        display: block;
        width: 100%;
        height: 40px;
        border: 2px solid $border-color;
        border-radius: 6px;
        margin-bottom: 12px;
        padding: 15px 10px;
        font-weight: 500;
        line-height: 1.5;
        font-size: 0.875rem; // 14px
        color: $main-text-color;
      }

      // .terms {
      //   display: flex;
      //   justify-content: flex-start;
      //   align-items: center;
      //   margin-bottom: 30px;

      //   input {
      //     width: 14px;
      //     height: 14px;
      //     margin: 0 10px 0 0;
      //     border: 2px solid $border-color;
      //     transform: scale(1.2);
      //   }

      //   label {

      //     a {
      //       @include a-secondary-semi-bold-mobile;
      //       text-decoration: none;
      //       color: $main-text-color;

      //       &:visited {
      //         color: $main-text-color;
      //       }
      //     }

      //   }
      // }

      .login-page-error {
        color: $danger-color;
        text-transform: capitalize;
        margin-bottom: 10px;
      }

      button {
        width: 100%;
        border: none;
        border-radius: 6px;
        background-color: $primary-accent-color;
        color: $light-text-color;
        height: 40px;
        margin-bottom: 15px;
        position: relative;

        &.loading::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 4px solid transparent;
          border-top-color: #ffffff;
          border-radius: 50%;
          animation: button-loading-spinner 1s ease infinite;
        }
      }
    }
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }

  .login-image-container {
    display: none;

    @include respond-above(md) {
      width: 65%;
      display: block;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
      }
    }
  }

  .login-page-error {
    color: $danger-color;
  }
}
