@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/query.scss' as *;
@use '../../scss/typography.mixins.scss' as *;

.my-stats {
  .my-stats-empty {
    background-color: #e6e6e6;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
