// base
@use "./scss/base";
@use "./scss/fonts";
@use "./scss/reset";
@use "./scss/query";
@use "./scss/typography";

// components
@use "./components/Game/game";
@use "./components/Profile/profile";
@use "./components/MyStats/myStats";
@use "./components/DashboradControls/dashboradControls";

// pages
@use "./pages/noMatch/noMatchPage";
@use "./pages/loginPage/loginPage";
@use "./pages/signUpPage/signUpPage";
@use "./pages/dashboardPage/dashboardPage";
