@use "./variables"  as *;

@mixin btn-styles {
  display: block;
  color: #fff;
  background-color: $primary-accent-color;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid $primary-accent-color;
  padding: 0.5rem 2.2rem;
  font-size: $small-text-size;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

@mixin input-styles {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid $border-color;
  background-color: $input-background-color;
  border-radius: 0.25rem;
}
