$main-text-color: #2F3130;
$light-text-color: #fff;
$secondary-text-color: #A4A8AB;
$primary-accent-color: #E94337;
$secondary-accent-color: #22bf75;
$third-accent-color: #fa5f54;
$danger-color: #dc3545;

$primary-btn-color: #fd6d02;

$input-background-color: #e9ecef;

$border-color: #707070;

$input-border: #707070;

$h1-font-size-mobile: 2.5rem; // 40px

$p-font-size-mobile: 1rem; // 16px;
$a-font-size-mobile: 1rem; // 16px;


