$main-text-color: #212529;
$light-text-color: #fff;
$secondary-text-color: #b6b7b8;
$primary-accent-color: #0d6efd;
$secondary-accent-color: #22bf75;
$third-accent-color: #fa5f54;
$danger-color: #dc3545;

$primary-btn-color: #fd6d02;

$input-background-color: #e9ecef;
$border-color: #ced4da;
$input-border: #707070;

$big-text-size: 1.625rem; // 26px
$medium-text-size: 1.125rem; // 18px
$small-text-size: 1rem; // 16px
$big-numbers: 2rem; // 32px
